.nav a {display: block; color: #fff; background-color: blue; }
.nav a:hover, .nav a:active {background-color: red; }

.detectHover-on a,
.detectHover-off a {transition: background-color 0.2s ease-in; }
.detectHover-on a {background-color: gray; }
